@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "SF Display";
  font-size: 14px;
  color: black;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
.overlay.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}

aside {
  background: #f9f9f9;
  width: 270px;
  transition: width 0.25s ease;
  position: relative;
  min-height: 100vh;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
aside ul li {
  position: relative;
  background: #e1e1e1;
}
aside ul li .sub-menu {
  background: #f9f9f9;
}
aside ul li .sub-menu li.active a {
  color: #1E74DA;
}
aside ul li:hover {
  background: #1E74DA;
  color: white;
}
aside ul li:hover .sub-menu li {
  background: #f9f9f9;
}
aside ul li.active {
  background: #1E74DA;
  color: white;
}
aside ul li a.nav-link {
  padding: 10px 20px;
  transition: 0s;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
}
aside ul li .menu-down {
  font-size: 20px !important;
  position: absolute;
  top: 8px;
  right: 0;
  cursor: pointer;
}
aside ul li .menu-down::before {
  transition: 0.5s;
}
aside ul li .menu-down.active::before {
  transform: rotate(180deg);
}
aside ul li .sub-menu li {
  background: none;
}
aside ul li .sub-menu li a {
  color: #353535;
  transition: 0.3s;
  text-transform: initial;
  font-weight: 400;
}
aside ul li .sub-menu li a:hover {
  color: #1E74DA;
  transform: translateX(5px);
}
aside.aside-mini {
  width: 270px;
  transition: all 0.25s ease;
}
aside.aside-mini .logo {
  width: 60px;
}
aside.aside-mini .waves-effect {
  position: initial;
}
aside.aside-mini ul li {
  background: #f9f9f9;
}
aside.aside-mini .menu ul.nav li {
  margin: 10px 0;
}
aside.aside-mini .menu ul.nav li.active span {
  color: #1E74DA !important;
}
aside.aside-mini .menu ul.nav li:hover .menu-title.mini, aside.aside-mini .menu ul.nav li:hover .collapse {
  transform: none;
  z-index: 1000;
  opacity: 1;
}
aside.aside-mini .menu ul.nav li i {
  display: none;
}
aside.aside-mini .menu ul.nav li a {
  padding: 10px 3px;
}
aside.aside-mini .menu ul.nav li a i {
  display: inline-block;
}
aside.aside-mini .menu ul.nav li .menu-title.mini {
  position: absolute;
  width: 250px;
  left: 60px;
  top: 0;
  height: 50px;
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  line-height: 50px;
  padding-left: 15px;
  transform: translateX(20px);
  color: black;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}
aside.aside-mini .menu ul.nav li .collapse {
  position: absolute;
  width: 250px;
  left: 60px;
  top: 49px;
  padding-left: 10px;
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateX(20px);
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
}
aside .menu {
  margin: 20px 0;
  position: relative;
  margin-top: 80px;
}
aside .menu-close {
  position: fixed;
  top: 0px;
  left: 270px;
  font-size: 24px;
  z-index: 1012;
  background: white;
  padding: 0 6px;
}
aside .menu ul.nav li {
  display: block;
  width: 100%;
  padding: 0;
}
aside .menu ul.nav li i {
  padding-right: 10px;
  font-size: 16px;
}
aside .logo {
  text-align: center;
  padding: 10px 10px;
  height: 70px;
  border-bottom: 1px solid #e1e1e1;
  position: fixed;
  left: 0;
  width: 270px;
  top: 0;
  z-index: 1001;
  border-right: 1px solid #e1e1e1;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
aside .logo .logo-mini {
  display: none;
}

main {
  width: calc(100% - 270px);
  transition: width 0.25s ease, margin 0.25s ease;
}

header {
  height: 70px;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding-left: 15px;
  position: fixed;
  width: calc(100% - 270px);
  transition: width 0.25s ease, margin 0.25s ease;
  z-index: 1000;
}
header .container-fluid {
  display: flex;
}
header .menu-btn {
  font-size: 24px;
  cursor: pointer;
  padding: 16px 0;
  transition: 0.3s;
}
header .menu-btn:hover {
  color: #1E74DA;
}
header .menu-btn span {
  font-size: 8px;
  background: #1E74DA;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  color: white;
  position: absolute;
  margin-left: -10px;
}
header .username {
  width: 70px;
  margin-left: 20px;
  padding: 24px 0;
  font-size: 14px;
  height: 20px;
  overflow: hidden;
  font-size: 14px;
}
header .custom {
  text-align: right;
  width: 100%;
}
header .custom ul li {
  display: inline-block;
  padding: 23px 15px;
  border-left: 1px solid #f4f4f4;
  font-size: 14px;
}
header .custom ul li.noti {
  padding: 19px 15px;
  position: relative;
}
header .custom ul li.noti i {
  padding: 0;
  font-size: 20px;
  color: black;
  cursor: default;
}
header .custom ul li.noti.bell a {
  animation: bell 2s linear infinite;
  display: block;
}
header .custom ul li.noti.bell a:hover {
  animation: none;
}
header .custom ul li.noti.bell a:hover i {
  color: red;
}
@keyframes bell {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(0);
  }
}
header .custom ul li.noti.bell a::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: red;
  margin-top: 4px;
  margin-left: 11px;
}
header .custom ul li.noti.bell i {
  color: #1E74DA;
  transition: 0.3s;
  cursor: pointer;
}
header .custom ul li a {
  transition: 0.3s;
  font-size: 15px;
}
header .custom ul li a:hover {
  color: #1E74DA;
}
header .custom ul li i {
  padding-right: 10px;
  color: #1E74DA;
}
header .custom ul li:last-child {
  padding-right: 0;
}

.title-page {
  margin-bottom: 30px;
}
.title-page h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #cccccc;
  color: #5E5E5E;
  border-radius: 3px;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link.active {
  background: #1E74DA;
  color: white;
  border-color: #1E74DA;
}

footer {
  border-top: 1px solid #f4f4f4;
  padding: 20px 0;
  color: #585858;
  margin-top: 30px;
}
footer .container-fluid {
  display: flex;
}
footer h5 {
  font-size: 14px;
  width: 350px;
}
footer a {
  font-weight: 500;
}
footer a:hover {
  color: #1E74DA;
}
footer ul {
  width: 100%;
  text-align: right;
}
footer ul li {
  display: inline-block;
  margin-left: 30px;
}
footer ul li i {
  color: #1E74DA;
  padding-right: 10px;
}

@media (max-width: 1921px) {
  article {
    margin: 30px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  aside.aside-mini {
    width: 60px;
    transition: all 0.25s ease;
  }
  aside.aside-mini .nav li.active {
    background: none;
    color: #1E74DA;
  }
  aside.aside-mini .nav li.active:hover {
    background: none;
  }
  aside.aside-mini .nav li.active span {
    color: #1E74DA;
  }
  aside.aside-mini .nav li:hover {
    background: #1E74DA;
  }
  aside.aside-mini .nav li:hover ul li {
    background: none;
  }
  aside.aside-mini .nav li a {
    margin: 0;
  }
  aside.aside-mini .nav li a i {
    padding: 0 15px;
    font-size: 20px;
  }
  aside .logo {
    text-align: center;
    height: 70px;
    padding: 0;
    padding-left: 5px;
    padding-top: 7px;
    transition: width ease 0.25s;
  }
  aside .logo .logo-large {
    padding-bottom: 10px;
  }
  aside .logo .logo-large-mini {
    display: none;
  }
  aside .logo .logo-mini {
    display: none;
  }
  aside .logo .logo-mini-mini {
    display: block;
    padding-bottom: 12px;
  }

  main.main-mini {
    width: calc(100% - 60px);
  }

  header.header-mini {
    width: calc(100% - 60px);
  }
}
@media (max-width: 1200px) {
  .overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
    background: rgba(0, 0, 0, 0.2);
  }
  .overlay-menu.overlay-in {
    display: block;
  }

  body {
    display: block;
  }

  aside {
    transform: translateX(-270px);
    transition: 0.25s;
    z-index: 1011;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    height: 100vh;
  }
  aside.aside-mini {
    transform: none;
    width: 270px;
  }
  aside.aside-mini .logo {
    width: 270px;
  }
  aside.aside-mini .logo .logo-large {
    display: block;
    margin: auto;
  }
  aside.aside-mini .logo .logo-mini {
    display: none;
  }
  aside.aside-mini .waves-effect {
    position: relative;
  }
  aside.aside-mini .menu ul.nav li {
    margin: 0;
    margin-top: 15px;
  }
  aside.aside-mini .menu ul.nav li.active span {
    color: white;
  }
  aside.aside-mini .menu ul.nav li.active i {
    color: #1E74DA;
  }
  aside.aside-mini .menu ul.nav li.active ul li.active a {
    color: #1E74DA;
  }
  aside.aside-mini .menu ul.nav li:hover .menu-title.mini, aside.aside-mini .menu ul.nav li:hover .collapse {
    transform: none;
    z-index: 1000;
    opacity: 1;
  }
  aside.aside-mini .menu ul.nav li i {
    display: block;
  }
  aside.aside-mini .menu ul.nav li a {
    padding: 10px 0 !important;
    background: #e1e1e1;
    color: black;
  }
  aside.aside-mini .menu ul.nav li a i {
    display: inline-block;
  }
  aside.aside-mini .menu ul.nav li ul li a {
    background: none;
    padding: 0 15px !important;
  }
  aside.aside-mini .menu ul.nav li .menu-title.mini {
    position: relative;
    width: auto;
    left: auto;
    top: auto;
    height: 50px;
    background: none;
    border: 0;
    box-shadow: none;
    line-height: 0;
    padding-left: 0;
    transform: none;
    color: black;
    z-index: 1;
    opacity: 1;
  }
  aside.aside-mini .menu ul.nav li .collapse {
    position: relative;
    width: auto;
    left: auto;
    top: auto;
    padding-left: 0;
    background: none;
    border: 0;
    box-shadow: none;
    transform: none;
    z-index: 1;
    opacity: 1;
  }

  main {
    width: 100%;
    margin-left: 0;
    font-size: calc(9px + 0.3vmax);
  }
  main.main-mini {
    width: 100%;
    margin-left: 0;
  }

  header {
    width: 100%;
    top: 0;
  }
  header.header-mini {
    width: 100%;
  }
}
@media (max-width: 992px) {
  main {
    font-size: calc(8px + 0.4vmax);
  }
}
@media (max-width: 767px) {
  article {
    margin: 0;
    margin-top: 80px;
  }
}
@media (max-width: 575px) {
  header {
    height: 60px;
  }
  header .container-fluid {
    padding-left: 0;
  }
  header .menu-btn {
    padding: 11px 0;
  }
  header .username {
    padding: 20px 0;
    color: #1E74DA;
  }
  header .custom ul li {
    padding: 11px 5px;
    border: 0;
    margin-top: -3px;
  }
  header .custom ul li span {
    display: none;
  }
  header .custom ul li i {
    font-size: 24px;
    color: black;
  }
}

/*# sourceMappingURL=layout.css.map */
