extends _inc

block main  
  section.dashboard 
    .container
      .row
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='http://triviet.net/')
              img(src='../img/view-page.png')
              h4 Xem trang

        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='cau-hinh-tong-quat.html')
              img(src='../img/settings.png')
              h4 Cấu hình tổng quát
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='danh-sach-don-hang.html')
              img(src='../img/order.png')
              h4 Danh sách đơn hàng
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='danh-sach-san-pham.html')
              img(src='../img/product.png')
              h4 Danh sách sản phẩm
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='danh-sach-bai-viet.html')
              img(src='../img/post.png')
              h4 Danh sách bài viết
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='danh-sach-trang-tinh.html')
              img(src='../img/static-page.png')
              h4 Danh sách trang tĩnh
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='danh-sach-ads.html')
              img(src='../img/ads.png')
              h4 Danh sách ADS
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='danh-sach-lien-he.html/')
              img(src='../img/contact.png')
              h4 Danh sách liên hệ
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='https://www.flaticon.com/')
              img(src='../img/view-page.png')
              h4 Link icon điều khiển
        
        .col-xl-3.col-lg-4.col-sm-6
          .box-dashboard
            a(href='https://cdn.materialdesignicons.com/3.0.39/')
              img(src='../img/view-page.png')
              h4 Link icon menu
        
        